.one{
  border: 1px solid rgb(47, 49, 49);
  border-width: thin;
}
.on{
  margin: 5px;
}
.one:hover{
  border-color: hsl(240, 2%, 11%);
  box-shadow: 0px 5px 10px rgb(47, 49, 49);
  transition: 250ms;
}
.container-fluid{
  margin: 1px;
}
.title{
  background-color: rgb(47, 49, 49)  !important;
  color: white;
}
.title:hover{
  background-color: rgb(47, 49, 49) !important;
  transition: 300ms;
}
span{
  display: none;
  color: white;
}
.vom{

  color: rgb(46, 45, 45);
}
.main{
  background-image: url(../image/idea.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: darken;
  height: 53vh;
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-weight: 400;
  background-color: rgba(0,0,0,0.3) !important;
}
h1{
  text-align: center;
}
.ai{
  background-image: url(../image/idea.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: darken;
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
  background-color: rgba(0,0,0,0.3) !important;
}
.cat{
  height: 250px;
}
img{

  max-width: 100%;
  display:block;
  height: 400px;
}

#bg{
  background-image: url(../image/idea.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  color: white;
}
.profile{
  display: none;
}
#like,#dislike{
  float: right;
}
.gnome{
  color:rgb(47, 49, 49);
}
.body{
  background-color: rgb(47, 49, 49);
}
.pitch{
  text-align:center;
  text-transform: capitalize;
}

#spinner{
  display: none;
  margin: auto;
  width: 20%;

}
#sho{
  color:hsl(120, 89%, 50%);
}
.cat{
  padding:100px;
}
.col-md-3{
  padding:5px;
}
.card{
  padding:5px;
}