{%extends 'base.html'%}
{%block content%}
<div class=" main jumbotron">
  <h1>Welcome to Pitch</h1>
  <h4>{{message}}</h4>
  {%if current_user.is_authenticated%}
  <p>Share your Ideas with the world </p><a href="{{url_for('main.new_pitch',uname=current_user.username)}}"><button
      class="btn default-color" type="button" name="button">Here</button></a>
  {%else%}
  <p>Share your Ideas with the world </p><a><button class="btn default-color" id="login" type="button"
      title="Login Required To post your Idea" name="button">Here</button></a>
  {%endif%}
</div>
<div class="container-fluid">
  <div class="row">
    {%for all in top_pitch%}
    <div class="col-md-3">
      <div class="one">
        <div class="on">
          <div class="jumbotron title">
            <h5>{{all.title}}</h5> <span class="animated fadeIn " aria-hidden="true">New</span>
          </div>
          {{all.pitch}}
          <br>
          <i class="vom">Category {{all.categ}}</i>
          <br>
          <hr class="default-color">
          <a class="btn default-color" href="/pitch/new/review/{{all.id}}">comment</a>
        </div>
      </div>
    </div>
    {%endfor%}

  </div>
  <br>
  <!-- Category Ai starts here-->  
  <div class="aii jumbotron">
    <div class="row">
      <div class="col-md-3">
        <div class="cat card">
          <h6>I don’t normally do this, but you look really upset standing over here on your phone and I thought I’d offer some support…did your stocks just crash or something?.</h6>
          <hr class="default-color">pickup lines<br><br> <button id=" aii re-wild" class="btn default-color" type="button"
            name="button">View Category</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cat card">
          <h6>My goal is to lead teams effectively and monitor performance to help drive productivity, which leads to profitability and steady growth plans.</h6>
          <hr class="default-color">interview pitch<br><br><button id="stop" class="btn default-color" type="button"
            name="button">View Category</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cat card">
          <h6>We are a suite of intelligent automation solutions for Salesforce, for everything from data, documents to reporting.</h6>
          <hr class="default-color">product pitch<br><br><button id="gender" class="btn default-color" type="button"
            name="button">View Category</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="cat card">
          <h6> realized that it wasn’t just me, that this was a systemic problem with people being discriminated against based on race, and more.</h6>
          <hr class="default-color">promotion pitch<br><br><button id="deploy" class="btn default-color" type="button"
            name="button">View Category</button>
        </div>
      </div>
    </div>
  </div>
  <div id="finance" class="animated fadeIn row">
    <div class="col-md-12">
      <h6>Re-wild the finance industry Category</h6>
    </div>
    {%for i in pitch%}
    <div class="col-md-3">
      <div class="one">
        <div class="on">
          <div class="jumbotron title">
            <h5>{{i.title}}</h5>
          </div>
          {{i.pitch}}
          <hr class="default-color">
          <a class="btn btn-secondary" href="/pitch/new/review/{{i.id}}">comment</a>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  <div id="planet" class="animated fadeIn row">
    <div class="col-md-12">
      <h6>Stop treating the planet like a machine Category</h6>
    </div>
    <div class="container-fluid">
      <div class="row">
        {%for pit in pitch1%}
        <div class="col-md-3">
          <div class="one">
            <div class="on">
              <div class="jumbotron title">
                <h5>{{pit.title}}</h5>
              </div>
              {{pit.pitch}}
              <hr class="default-color">
              <a class="btn btn-secondary" href="/pitch/new/review/{{pit.id}}">comment</a>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>

  </div>
  <div id="equal" class="animated fadeIn row">
    <div class="col-md-12">
      <h6>Ensure gender equality so women's talents inform political decisions at all levels Category</h6>
    </div>
    <div class="container-fluid">
      <div class="row">
        {%for i2 in pitch2%}
        <div class="col-md-3">
          <div class="one">
            <div class="on">
              <div class="jumbotron title">
                <h5>{{i2.title}}</h5>
              </div>
              {{i2.pitch}}
              <hr class="default-color">
              <a class="btn btn-secondary" href="/pitch/new/review/{{i2.id}}">comment</a>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
  <div id="develop" class="animated fadeIn row">
    <div class="col-md-12">
      <h6>Deploy mindfulness to develop less consumption-focused identities Category</h6>
    </div>
    <div class="container-fluid">
      <div class="row">
        {%for i3 in pitch3%}
        <div class="col-md-3">
          <div class="one">
            <div class="on">
              <div class="jumbotron title">
                <h5>{{i3.title}}</h5>
              </div>
              {{i3.pitch}}
              <hr class="default-color">
              <a class="btn btn-secondary" href="/pitch/new/review/{{i3.id}}">comment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endfor%}
<footer class="page-footer font-small bg-dark pt-4 w-100">

  <div class="footer-copyright text-center py-3">Copyright © 2020 |
    <a href="https://github.com/Rustique-Uwimpaye"> Rustique Uwimpaye</a>
  </div>
  
</footer>
{%endblock%}